/* Tech styling area */

:root {
  --background: rgba(215, 206, 199, 0.6);
  --svg-color: #d7cec7;
  --dark: #565656;
  --reddish: rgba(118, 50, 63, 0.75);
  --tan: #d8d0c9;
}
@font-face {
  font-family: "ralewayr";
  src: url("fonts/ralewayr.woff2") format("woff2"),
    url("fonts/ralewayr.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  max-height: 100vh;
  background-color: var(--background);
}
.hamburger-svg {
  width: 50px;
  fill: var(--svg-color);
}
.hamburger-svg.black {
  fill: #565656;
  width: 35px;
}
/*! Main styling  */

/*? topbar Styling */
.topbar {
  min-width: 100vw;
  max-height: 5rem;
  box-sizing: border-box;
  padding: 0 3rem;
  color: white;
  display: flex;
  align-items: center;
  background-color: #565656;
}
.topbar-holder {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}
.header {
  user-select: none;
  box-sizing: border-box;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  font-family: "ralewayr";
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    0 0 15px rgba(0, 255, 170, 0.5), 0 0 20px #0fa, 0 0 15px #0fa, 0 0 20px #0fa,
    0 0 30px #0fa;
}

.theme-switch {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Content Styling section */

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: none;

  height: 75vh;
}

.content-header {
  text-align: center;
  padding: 1rem;
  font-size: 2rem;
  font-family: "ralewayr";
  text-decoration: underline;
}

.content-books {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem;
  overflow-x: none;
  overflow-y: auto;
  display: grid;
  width: 75%;
  gap: 5rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: 300px;
}
.content-books::-webkit-scrollbar {
  width: 5px; /* Webkit tarayıcılar için scrollbar genişliği (örneğin Chrome, Safari) */
}

.content-books::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar rengi */
}

.content-books::-webkit-scrollbar-thumb:hover {
  background: #555; /* Mouse üzerindeyken scrollbar rengi */
}

.book {
  background-color: var(--reddish);
}
/* Sidebar Styling Section */
.sidebar {
  background-color: var(--tan);
  width: 22vw;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 300ms all ease;
  z-index: 2;
}
.sidebar[data-state="active"] {
  transform: translate(0);
}
.sidebar[data-state="deactive"] {
  transform: translate(-100%);
}
.close-sidebar {
  position: absolute;
  right: 2%;
  top: 2%;
}
/* backdrop styling section */
.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-color: black;
}

.backdrop[data-state="deactive"] {
  transform: scale(0);
}
/* Media Query Section */

@media (max-width: 1024px) {
  .sidebar {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .topbar {
    padding: 0 1rem;
  }
  .sidebar {
    width: 100%;
    height: 50%;
  }
  .sidebar[data-state="deactive"] {
    transform: translate(0, -100%);
  }
  .close-sidebar {
    left: 5%;
    top: 5%;
  }
}

@media (max-width: 650px) {
  .content-books {
    grid-template-columns: 250px;
  }
}
@media (max-width: 350px) {
  .content-books {
    grid-template-columns: 1fr;
  }
}
